* {
    margin: 0;
    padding: 0;
    outline: 0;
}

:root {
    --cor-azul: #3999EF;
    --cor-vermelho: #F4364C;
    --cor-verde: #71C05B;
    --cor-laranja: #FF7B45;
    --cor-branco: #FFFFFF;
    --cor-nbranco: #FDFDFF;
    --borda: 0.1vh solid #EBEBEB;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #EFF3F9;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}

h1 {
    color: #4F4F4F;
    font-size: 3vh;
    font-weight: bold;
}

h2 {
    color: #7E7E7E;
    font-size: 2.2vh;
    font-weight: bold;
}

p {
    color: #4F4F4F;
    font-size: 1.8vh;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vh;
    background-color: var(--cor-laranja);
    color: var(--cor-branco);
    padding: 0.6vh 1vh 0.6vh 1vh;
    font-size: 1.8vh;
    font-weight: bold;
    margin-right: 0.5vw;
}