#menu {
    width: 10%;
    height: 100vh;
    background-color: var(--cor-azul);
}

#container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#navbar {
    width: 100%;
    background-color: var(--cor-nbranco);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: var(--borda);
}

#content {
    height: 100%;
}

#navbar .info {
    margin-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vh 1vh 1vh 0;
}

#navbar .info .titulo, .tags {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#navbar .info .titulo h1 {
    display: flex;
    align-items: center;
}

#navbar .info .titulo h1:nth-child(1)::after {
    content: '';
    width: 0.6vw;
    height: 2vh;
    background-image: url('../assets/seta.svg');
    background-size: cover;
    background-position: center;
    margin-top: 0.25vh;
    margin-left: 0.5vw;
}

#navbar .info .titulo h1:nth-child(2) {
    margin-left: 0.5vw;    
}

#navbar .info .tags {
    margin: 0.4vh 0 1vh 0;
}

#navbar .filtro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
    margin-right: 2%;
}

#navbar .filtro select {
    padding: 1vh;
    border-radius: 1vh;
    border: 0.1vh solid #4F4F4F;
    font-size: 2vh;
    font-weight: bold;
    color: #4F4F4F;
}